body{
    background-color: ghostwhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F0E9;
}

#container{
    background-color: #41644A;
    height: 450px;
    width: 450px;
    border: 8px solid black;
    display: flex;
    flex-direction: column;
}

#calculator-display{
  background-color: #41644A;
  opacity: 0.5;
  width: 450px;
  height: 100px;
  margin: 0 auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#display-value{
    margin-right: 10px;
    font-size: 5em;
    font-family: monospace;
}

#calculator-body{
    display: flex;
    flex: 1 1 auto;
}

#numbers{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    gap: 5px;
}

.calc-button{
    flex: 1;
    flex-basis: 100px;
    height: 60px;
}

.calc-button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.clear, .decimal, .negate, .operator{
    background-color: #E9762B;
}

.number{
    background-color: #91AC8F;
}

.backspace{
    background-color: #A31D1D;
}

.equal{
    background-color: #0D4715;
}