body{
    background-color: ghostwhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #676767;
    height: 300px;
    width: 450px;
    border: 8px solid black;
    display: flex;
    flex-direction: column;
}

#calculator-display{
  background-color: #909090;
  width: 450px;
  height: 80px;
  margin: 0 auto;
  border: 4px solid #d7d7d7;
  font-size: 8vw;
  text-align: right;
}

#calculator-body{
    display: flex;
    flex-grow: 1;
}

#numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-grow: 1;
}

.calc-button{
    width: 100px;
    height: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
}